/**
 * "transform-react-inline-elements" is not possible due to ie11
 * "transform-react-constant-elements" produces errors while NODE_ENV=production in npm script
 */
{
    "presets": [
        "stage-0",
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-object-assign",
        "transform-flow-strip-types"
    ],
    "ignore": [
        "**/__jest__/",
        "**/__mocks__/",
        "**/__tests__/",
    ],
    "sourceMaps": true,
    "env": {
        "production": {
            "plugins": [
                "transform-decorators-legacy",
                "transform-react-remove-prop-types"
            ]
        }
    }
}
