////
/// Mixin typographic
///
/// @group mixins
/// @author Ulrich Merkel
////

/// Font size mixin to include px and rem
///
/// @param {string|number} $size
@mixin font-size($size) {
    $size: if(unitless($size), $size, $size / 1px);

    font-size: $size + px;
    font-size: rem-calc($size);
}

/// Hide text mixin
///
/// @see https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
@mixin hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/// Enable text overflow with dots
/// Requires inline-block or block for proper styling
@mixin text-overflow {
    overflow: hidden;
    @if ($config-support-prefix-ms) {
        -ms-text-overflow: ellipsis;
    }
    text-overflow: ellipsis;
    white-space: nowrap;
}

/// Enable word wrapping for long words
@mixin word-wrap {
    @if ($config-support-prefix-webkit) {
        -webkit-hyphens: auto;
    }
    @if ($config-support-prefix-epub) {
        -epub-hyphens: auto;
    }
    @if ($config-support-prefix-moz) {
        -moz-hyphens: auto;
    }
    @if ($config-support-prefix-ms) {
        -ms-hyphens: auto;
    }
    hyphens: auto;
    word-break: break-word;
}

/// Disable word wrapping, useful if words can't be breaked
@mixin no-wrap {
    // prevent css3 hyphens
    @if ($config-support-prefix-webkit) {
        -webkit-hyphens: none;
    }
    @if ($config-support-prefix-epub) {
        -epub-hyphens: none;
    }
    @if ($config-support-prefix-moz) {
        -moz-hyphens: none;
    }
    @if ($config-support-prefix-ms) {
        -ms-hyphens: none;
    }
    hyphens: none;
    white-space: nowrap;
}

/// User select for selecting text on the page
///
/// @param {string} $select
@mixin user-select($select) {
    @if ($config-support-prefix-webkit) {
        -webkit-user-select: $select;
    }
    @if ($config-support-prefix-khtml) {
        -khtml-user-select: $select;
    }
    @if ($config-support-prefix-moz) {
        -moz-user-select: $select;
    }
    @if ($config-support-prefix-ms) {
        -ms-user-select: $select;
    }
    @if ($config-support-prefix-o) {
        -o-user-select: $select;
    }
    user-select: $select;
}

/// Disable user select
@mixin no-user-select {
    @include user-select(none);
    @if ($config-support-prefix-webkit) {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}

/// Include css3 hyphens
///
/// @param {string} $value
@mixin hyphens($value) {
    @if ($config-support-prefix-webkit) {
        -webkit-hyphens: $value;
    }
    @if ($config-support-prefix-epub) {
        -epub-hyphens: $value;
    }
    @if ($config-support-prefix-moz) {
        -moz-hyphens: $value;
    }
    @if ($config-support-prefix-ms) {
        -ms-hyphens: $value;
    }
    hyphens: $value;
}
