////
/// Mixin centering
///
/// @group mixins
/// @author Ulrich Merkel
////

/// Vertical centering via css3.
@mixin vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
