////
/// Module broadcast
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-broadcast';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {

    .#{$block}--persona {

        .m-article__alt-headline {
            margin-bottom: rem-calc($config-grid--gutter);
        }

        .m-list--persona {
            margin-bottom: rem-calc($config-grid--gutter * 2);
        }

        .m-list__item {

            // Just show hover for non-touch devices
            @if ($config-support-hovers) {
                .no-touch &,
                .no-touchevents &,
                .no-js & {
                    a {
                        &:hover {
                            @include var(color, --theme-module-broadcast-list-item-color-hover);
                        }
                    }
                }
            }

        }
    }
}
