////
/// Module featured
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-featured';

// above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    // defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        display: block;
        overflow: hidden;
    }

    .#{$block}__list {
        @include clearfix;
    }

    .#{$block}__list-item {
        display: block;
        float: left;
        width: 100%;
        list-style: none;

        @include breakpoint(320px) {
            width: 50%;
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            width: 33.333%;
        }

        @include breakpoint($config-grid--breakpoint-medium) {
            width: 25%;
        }

        @include breakpoint($config-grid--breakpoint-large) {
            width: 20%;
        }
    }

    .#{$block}__item,
    [class^='#{$block}__item--'],
    [class*=' #{$block}__item--'] {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;

        &.is-active {
            display: none;
        }

        @if ($config-support-hovers) {
            .no-touch &:hover,
            .no-touchevents &:hover,
            .no-js &:hover,
            &:focus {

                .#{$block}__hover {
                    opacity: 1;
                    transform: scale(1);
                }

                .#{$block}__icon {
                    opacity: 1;
                }

                @supports (transform: scale(0.99)) {
                    .#{$block}__image {
                        transform: scale(0.99);
                    }
                }
                @supports (mix-blend-mode: overlay) {
                    .#{$block}__image {
                        mix-blend-mode: overlay;
                    }
                }

            }
        }

    }

    .#{$block}__image {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;

        will-change: transform;
        transition: transform $config-transition-arguments;

        .no-touch &,
        .no-touchevents & {
            transform: scale(1);
        }
    }

    .#{$block}__hover {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 100%;
        padding: rem-calc($config-type-scale-11);

        // advanced filters just work in safari right now
        // @link http://iamvdo.me/en/blog/advanced-css-filters
        background: $theme-module-section-featured-hover-background;
        backdrop-filter: blur(3px);
        opacity: 0;
        transform: scale(1.025);

        will-change: bottom, opacity, transform;
        transition: bottom $config-transition-arguments, opacity $config-transition-arguments, transform $config-transition-arguments;

        @include breakpoint(320px) {
            padding: rem-calc($config-type-scale-5);

            .#{$block}__headline {
                top: rem-calc($config-type-scale-11);
            }

            .#{$block}__icon {
                top: rem-calc($config-type-scale-15);
            }
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            padding: rem-calc($config-type-scale-5);

            .#{$block}__headline {
                top: rem-calc($config-type-scale-5);
            }

            .#{$block}__icon {
                top: rem-calc($config-type-scale-16);
            }
        }
        @include breakpoint($config-grid--breakpoint-small) {
            padding: rem-calc($config-type-scale-13);

            .#{$block}__headline {
                top: rem-calc($config-type-scale-13);
            }

            .#{$block}__icon {
                top: rem-calc(90);
            }
        }

        @include breakpoint($config-grid--breakpoint-medium) {
            padding: rem-calc($config-type-scale-14);

            .#{$block}__headline {
                top: rem-calc($config-type-scale-14);
            }

        }
    }

    .#{$block}__text {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: 1px solid $config-color-white;
    }

    .#{$block}__headline,
    .#{$block}__icon {
        position: relative;
        display: block;
        margin: 0 auto;
        color: $config-color-white;
        text-align: center;
    }

    .#{$block}__headline {
        top: rem-calc($config-type-scale-15);
    }

    .#{$block}__icon {
        top: 100%;
        opacity: 0;

        will-change: top;
        transition: top $config-transition-arguments, opacity $config-transition-arguments;
    }

    @media print {
        .#{$block},
        [class^='#{$block}__item--'],
        [class*=' #{$block}__item--'] {
            // stylelint-disable declaration-no-important
            display: inline-block !important;
            width: 25% !important;
            // stylelint-enable declaration-no-important
        }
    }

}
