////
/// Module list
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-list';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {
    // Defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .#{$block}--broadcast {
        margin-bottom: rem-calc($config-grid--gutter * 3);

        .#{$block}__alt-headline {
            margin-bottom: 1rem;
        }

        .#{$block} {
            margin-bottom: rem-calc($config-grid--gutter * 2);
            list-style: disc;
            list-style-position: inside;
        }

        .#{$block}__item {
            // Just show hover for non-touch devices
            @if ($config-support-hovers) {
                .no-touch &,
                .no-touchevents &,
                .no-js & {
                    a {
                        &:hover {
                            text-decoration: underline;
                            text-decoration-skip-ink: auto;
                        }
                    }
                }
            }
        }
    }

    .#{$block}--reading {
        width: 100%;
        margin: 0 0 rem-calc($config-grid--gutter * 3);
        padding: 0;
        text-align: left;
        list-style: none;

        @include breakpoint($config-grid--breakpoint-xsmall) {
            text-align: center;
        }
    }

    .#{$block}--search {
        .#{$block}__item {
            display: block;
            margin-bottom: rem-calc($config-grid--gutter * 0.5);
            @include var(color, --theme-module-list-search-color);

            // Just show hover for non-touch devices
            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover {
                    @include var(
                        color,
                        --theme-module-broadcast-list-item-color-hover
                    );
                }
            }
        }
        .#{$block}__label,
        .#{$block}__description {
            display: block;
        }
        .#{$block}__description {
            font-style: normal;
        }
    }

    @media print {
        .#{$block}--reading {
            text-align: left;
        }
    }
}
