////
/// Module menu
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-menu';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {
    // Defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'],
    [role='menu'],
    [role='menu'],
    [role='group'],
    [role='group'] {
        @include clearfix;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .#{$block}__list-item,
    [class^='#{$block}__list-item--'],
    [class*=' #{$block}__list-item--'] {
        margin: 0;
        padding: 0;

        &:focus {
            outline: none;
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            float: left;
        }

        &.always-float {
            float: left;
        }
    }

    .#{$block}__item,
    [class^='#{$block}__item--'],
    [class*=' #{$block}__item--'] {
        display: block;
        text-align: left;

        &.is-hidden {
            display: none;
        }

        &.c-btn--small {
            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover,
                &:focus {
                    @include var(
                        background,
                        --theme-module-menu-main-item-background
                    );
                }
            }
        }
    }

    .#{$block}__label {
        &.is-visually-hidden {
            @include is-visually-hidden;
        }
    }

    // Menu main
    .#{$block}--main {
        @include clearfix;
        margin-bottom: 0;

        .#{$block}__list-item {
            position: relative;
        }

        .#{$block}__item {
            padding: rem-calc($config-type-scale-11)
                rem-calc($config-type-scale-12)
                rem-calc($config-type-scale-10);
            @include var(color, --theme-module-menu-main-item-color);
            @include var(background, --theme-module-menu-main-item-background);

            &.is-active {
                @include var(color, --theme-module-menu-main-item-active-color);
                @include var(
                    background,
                    --theme-module-menu-main-item-active-background
                );
            }

            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover,
                &:focus {
                    @include var(
                        color,
                        --theme-module-menu-main-item-active-color
                    );
                    @include var(
                        background,
                        --theme-module-menu-main-item-active-background
                    );
                }
            }
        }
    }

    // Menu header aside
    .#{$block}--aside {
        margin-bottom: 0;

        .#{$block}__list-item,
        [class^='#{$block}__list-item--'],
        [class*=' #{$block}__list-item--'] {
            position: relative;
        }

        .#{$block}__item,
        [class^='#{$block}__item--'],
        [class*=' #{$block}__item--'] {
            // @TODO use same box model as main menu to improve click targets
            padding: rem-calc($config-type-scale-8)
                rem-calc($config-type-scale-1)
                0;
            @include var(color, --theme-module-menu-aside-item-color);

            will-change: color;
            transition: color $config-transition-arguments;
            @include reducedMotion;

            &.is-active {
                @include var(
                    color,
                    --theme-module-menu-aside-item-active-color
                );
            }

            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover,
                &:focus {
                    @include var(
                        color,
                        --theme-module-menu-aside-item-hover-color
                    );
                }
            }
        }

        .#{$block}__list-item--theme {
            display: none;
        }

        .customproperties & .#{$block}__list-item--theme {
            display: block;
        }
    }

    // Menu footer
    .#{$block}--imprint,
    .#{$block}--social {
        text-align: left;

        @include breakpoint($config-grid--breakpoint-xsmall) {
            text-align: center;
        }

        .#{$block}__list-item {
            float: none;
            clear: both;

            @include breakpoint($config-grid--breakpoint-xsmall) {
                display: inline-block;
            }
        }

        .#{$block}__item {
            padding: rem-calc($config-type-scale-4)
                rem-calc($config-type-scale-10)
                rem-calc($config-type-scale-4)
                0;
            @include var(font-size, --theme-module-menu-footer-item-font-size);
            @include var(color, --theme-module-menu-footer-item-color);
            text-align: left;

            &.is-active {
                @include var(
                    color,
                    --theme-module-menu-footer-item-color-active
                );
            }

            @include breakpoint($config-grid--breakpoint-xsmall) {
                padding: rem-calc($config-type-scale-1)
                    rem-calc($config-type-scale-10);
                text-align: center;
            }

            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover,
                &:focus {
                    @include var(
                        color,
                        --theme-module-menu-footer-item-color-active
                    );
                }
            }
        }
    }

    .#{$block}--imprint {
        margin: 0 0 rem-calc($config-grid--gutter);

        .#{$block}__item {
            &::after {
                @include breakpoint($config-grid--breakpoint-xsmall) {
                    position: relative;
                    top: 7px;
                    display: block;
                    width: 0;
                    height: 0;
                    margin: 0 auto;
                    content: ' ';
                    @include var(
                        border-top,
                        --theme-module-menu-footer-imprint-item-border-top
                    );

                    will-change: width;
                    transition: width $config-transition-arguments;
                    @include reducedMotion;
                }
            }

            &.is-active {
                &::after {
                    width: 100%;
                }
            }

            @if ($config-support-hovers) {
                .no-touch &:hover,
                .no-touchevents &:hover,
                .no-js &:hover,
                &:focus {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .#{$block}--social {
        margin: 0 0 rem-calc($config-grid--gutter);

        .#{$block}__item {
            position: relative;
            padding: rem-calc($config-type-scale-8) 0 0;
            @include var(
                font-size,
                --theme-module-menu-footer-social-item-font-size
            );

            @include breakpoint($config-grid--breakpoint-xsmall) {
                padding: rem-calc($config-type-scale-1)
                    rem-calc($config-grid--gutter);
            }
        }

        i {
            &[class^='c-font-icon--'],
            &[class*=' c-font-icon--'] {
                display: block;

                &::before {
                    margin-right: 0;
                }
            }
        }
    }
}
