////
/// Module navigation
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-nav';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {
    // Defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        display: block;
    }

    .#{$block}__toggle {
        display: block;
        height: 37px;
        margin: rem-calc($config-grid--gutter / 2)
            rem-calc($config-grid--gutter);
        // @TODO This should be done by autoprefixer!!!
        @if ($config-support-prefix-webkit) {
            -webkit-appearance: none;
        }
        appearance: none;
        @include var(font-size, --theme-module-nav-toggle-font-size);
        line-height: 1;
        @include var(color, --theme-module-nav-toggle-color);
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;

        will-change: color;
        transition: color $config-transition-arguments;
        @include reducedMotion;

        &::before {
            position: relative;
            top: 10px;
        }

        &::after {
            content: attr(data-label);
            display: block;
            left: 57px;
            position: absolute;
            top: 24px;
        }

        + .#{$block}__toggle-target {
            display: block;
            position: absolute;
            width: 100%;
            contain: paint;
            transform: translateY(-300px);
            opacity: 0;

            will-change: opacity, transform;
            transition: opacity $config-transition-arguments,
                transform $config-transition-arguments;
            @include reducedMotion;
        }

        &:checked {
            @include var(color, --theme-module-nav-toggle-color-checked);

            // Switch to close icon
            &::before {
                content: '\f00d';
            }

            + .#{$block}__toggle-target {
                contain: layout;
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:focus {
            outline: none;
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            display: none;
            visibility: hidden;

            + .#{$block}__toggle-target {
                position: relative;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    .#{$block}__aside {
        position: absolute;
        top: rem-calc($config-type-scale-5);
        right: rem-calc($config-type-scale-5);
    }
}
