////
/// Base button styles
///
/// @group base
/// @author Ulrich Merkel
////

// Above the fold css, visible without scrolling
@if ($config-critical-css) {

    // ----------------------------
    // Default basic styling, mainly reset styles
    // ----------------------------
    button {
        display: block;
        margin: 0;
        padding: 0;
        line-height: inherit;
        @include var(color, --theme-base-button-color);
        text-align: center;
        text-decoration: none;
        text-transform: none;
        cursor: pointer;
        background: none;
        border: 0;
        appearance: none;

        will-change: background, color;
        transition: background $config-transition-arguments ease-in-out, color $config-transition-arguments ease-in-out;
    }

    @if ($config-support-prefix-moz) {
        // Remove extra padding around button text in ff (since ff13)
        button::-moz-focus-inner {
            padding: 0;
            border: 0;
        }
    }

}

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {

    // Just show hover for non-touch devices
    @if ($config-support-hovers) {
        .no-touch,
        .no-touchevents,
        .no-js {
            button {
                &:hover {
                    @include var(color, --theme-base-button-color-hover);
                }
            }
        }
    }

    button {
        &:focus {
            @include var(color, --theme-base-button-color-focus);
            @include var(outline, --theme-base-button-color-focus);
        }

        &:active {
            @include var(color, --theme-base-button-color-active);
        }

        &:visited {
            @include var(color, --theme-base-button-color-visited);
        }
    }

}
