////
/// Base image styles
///
/// @group base
/// @author Ulrich Merkel
////

// below the fold css, could be lazy loaded
@if ($config-non-critical-css) {

    img {
        font-family: $config-type-font-family;
        font-weight: $config-font-weight-light;
        line-height: 2;
        text-align: center;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    // ----------------------------
    // missing image styling
    // ----------------------------
    img {
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            top: -10px;
            left: 0;
            height: calc(100% + 10px);
            width: 100%;
            background-color: $config-color-grey--2;
            border: 2px dotted $config-color-grey--3;
            border-radius: 5px;
        }

        &::after {
            content: '\ea07 ' attr(alt) ' Image could not be loaded';
            display: block;
            @include font-size($config-type-scale-9);
            font-style: normal;
            font-family: fonticons;
            color: $config-color-grey--6;
            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }

}
