////
/// Base typo styles
///
/// @group base
/// @author Ulrich Merkel
////

// Above the fold css, visible without scrolling
@if ($config-critical-css) {
    html {
        font-size: 100%;

        //
        // Mobile text sizes
        //
        // IE phone note: If the viewport is set using <meta> element, the value
        // of the CSS text-size-adjust property is ignored.
        //
        // Webkit note: If -webkit-text-size-adjust is explicitely set to none,
        // webkit-based desktop browsers will prevent the user to zoom in or out
        // the web page
        //
        @if ($config-support-prefix-webkit) {
            -webkit-text-size-adjust: 100%;
        }
        @if ($config-support-prefix-moz) {
            -moz-text-size-adjust: 100%;
        }
        @if ($config-support-prefix-ms) {
            -ms-text-size-adjust: 100%;
        }
        text-size-adjust: 100%;
    }

    body {
        // Better font rendering
        @if ($config-support-prefix-webkit) {
            -webkit-font-smoothing: antialiased;
        }
        @if ($config-support-prefix-moz) {
            -moz-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        @if ($config-support-prefix-o) {
            -o-font-smoothing: antialiased;
        }
        font-smooth: auto; // stylelint-disable-line property-no-unknown
        @include var(color, --theme-base-type-color);
    }

    html,
    body {
        @include var(font-family, --theme-base-type-font-family);
        /* stylelint-disable length-zero-no-unit */
        font-size: $config-type-scale-9 + 0px;
        /* stylelint-enable length-zero-no-unit */
        font-style: normal;
        @include var(font-weight, --theme-base-type-font-weight);
        @include var(line-height, --theme-base-type-line-height);
    }

    p {
        margin-bottom: rem-calc($config-type-scale-9);
        font-size: inherit;
        line-height: 1.6;
        text-rendering: optimizeLegibility;
    }

    em,
    i {
        font-style: italic;
        line-height: inherit;
    }

    strong,
    b {
        @include var(font-weight, --theme-base-type-strong-font-weight);
        line-height: inherit;
    }

    small {
        @include var(font-size, --theme-base-type-small-font-size);
        line-height: inherit;
    }

    sub,
    sup {
        position: relative;
        @include var(font-size, --theme-base-type-sup-sub-font-size);
        line-height: 0;
        vertical-align: baseline;
    }

    sup {
        @include var(top, --theme-base-type-sup-top);
    }

    sub {
        @include var(bottom, --theme-base-type-sub-bottom);
    }

    abbr[title] {
        @include var(color, --theme-base-type-color);

        .no-touch &,
        .no-touchevents &,
        .no-js & {
            cursor: help;
            text-decoration: none;
            @include var(border-bottom, --theme-base-type-abbr-border-bottom);
        }
    }

    blockquote {
        margin: 0 0 rem-calc($config-type-scale-9);
        padding: rem-calc($config-type-scale-1)
            rem-calc($config-type-scale-10)
            0
            rem-calc($config-type-scale-12);
        @include var(border-left, --theme-base-type-blockquote-border-left);
    }

    blockquote,
    blockquote p {
        @include var(
            line-height,
            --theme-base-type-blockquote-text-line-height
        );
        @include var(color, --theme-base-type-blockquote-text-color);
    }

    cite {
        display: block;
        @include font-size($config-type-scale-7);
        @include var(color, --theme-base-type-cite-color);
    }

    cite::before {
        @include var(content, --theme-base-type-cite-before-content);
    }
}
