////
/// Theming scss variables
///
/// @group configs
/// @author Ulrich Merkel
////
$config-layout-header-height: 61px;
$config-section-featured-hover-background: rgba(0, 0, 0, 0.75);

// Base styles
$theme-base-img-missing-background: $config-color-concrete;
$theme-base-img-missing-border: 2px dotted $config-color-grey--3;
$theme-base-img-missing-border-radius: 5px;
$theme-base-img-missing-color: $config-color-grey--6;

// Modules
$theme-module-cornerstone-highlight-background: $config-color-concrete;
$theme-module-cornerstone-border-center: 1px solid $config-color-black;
$theme-module-cornerstone-bubble-background: $config-color-black;
$theme-module-cornerstone-bubble-border: 2px solid $config-color-white;
$theme-module-cornerstone-bubble-hover-background: $config-color-cinnabar;
$theme-module-cornerstone-bubble-intro-background: $config-color-black;
$theme-module-cornerstone-bubble-intro-color: $config-color-white;
$theme-module-cornerstone-bubble-intro-border: 2px solid $config-color-white;

$theme-module-key-visual-headline-background: $config-color-concrete;
$theme-module-key-visual-headline-color: $config-font-color;
$theme-module-key-visual-text-background: $config-color-concrete;
$theme-module-key-visual-button-color: $config-color-white;
$theme-module-key-visual-button-background: $config-color-blue--1;
$theme-module-key-visual-work-background: $config-color-concrete;
$theme-module-key-visual-gradient: #fff 0%, #eee 79%, #fefefe 91%, #f2f2f2 100%;

$theme-module-work-text-background: $config-color-concrete;
$theme-module-work-headline-color: $config-font-color;
$theme-module-work-headline-background: $config-color-concrete;

$theme-module-form-control-border-bottom: 1px solid $config-color-concrete;
$theme-module-form-control-border-color-focus: $config-color-blue--1;
$theme-module-form-control-border-color-invalid: $config-color-cinnabar;
$theme-module-form-control-color-label-focus: $config-color-grey--4;
$theme-module-form-control-color: $config-font-color;
$theme-module-form-invalid-border-color: $config-color-cinnabar;
$theme-module-form-invalid-color: $config-color-cinnabar;
$theme-module-form-isvalid-border-color: $config-color-mountain-meadow;
$theme-module-form-isvalid-color: $config-color-mountain-meadow;
$theme-module-form-label-color-focus: $config-color-grey--4;
$theme-module-form-label-color: $config-color-blue--1;

// Layouts
$theme-layout-print-default-color: $config-color-black;
$theme-layout-print-default-border-color: $config-color-black;
$theme-layout-print-text-visited-color: $config-color-concrete;
$theme-layout-print-quote-border: 1px solid $config-color-concrete;
