////
/// Layout footer
///
/// @group layouts
/// @author Ulrich Merkel
////

$block: '#{$config-ns}l-footer';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {

    .#{$block} {
        position: relative;
        margin: 0;
        padding: rem-calc($config-grid--gutter * 2) 0 rem-calc($config-grid--gutter * 3);
        @include var(color, --theme-layout-footer-color);
        text-align: left;
        @include var(background, --theme-layout-footer-background);

        @include breakpoint($config-grid--breakpoint-xsmall) {
            text-align: center;
        }
    }

    .#{$block}__button--up {
        position: absolute;
        top: rem-calc(-$config-type-scale-14);
        left: 50%;
        z-index: 2;
        display: none;
        width: rem-calc($config-grid--gutter * 2);
        height: rem-calc($config-grid--gutter * 2);
        margin-left: rem-calc(-$config-grid--gutter);
        padding: 0;
        font-size: 130%;
        line-height: 2.5;
        @include var(color, --theme-layout-footer-button-up-color);
        text-align: center;
        letter-spacing: normal;
        @include var(background, --theme-layout-footer-button-up-background);
        opacity: 0;

        &:focus {
            @include var(color, --theme-layout-footer-button-up-color-focus);
        }

        &:visited {
            @include var(color, --theme-layout-footer-button-up-color-visited);
        }

        .js & {
            display: block;
            opacity: 1;
        }

    }

    @media print {
        .#{$block} {
            display: none;
        }
    }

}
