////
/// Layout grid
///
/// @group layouts
/// @author Ulrich Merkel
////

$block: '#{$config-ns}l-grid';

// Below the fold css, could be lazy loaded
@if ($config-non-critical-css) {
    .#{$block} {
        width: 100%;
    }

    .#{$block}__spaced,
    [class^='#{$block}__spaced--'],
    [class*=' #{$block}__spaced--'] {
        margin: 0 auto;
        padding-right: rem-calc($config-grid--gutter);
        padding-left: rem-calc($config-grid--gutter);

        &.is-aligned--left {
            margin: 0;
        }
    }

    .#{$block}__spaced--large {
        max-width: 80rem;
    }

    .#{$block}__spaced--medium {
        max-width: 70rem;
    }

    .#{$block}__spaced--small {
        max-width: 62.5rem;
    }

    .#{$block}__row,
    [class^='#{$block}__row--'],
    [class*=' #{$block}__row--'] {
        @include clearfix;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .#{$block}__row--spaced {
        max-width: 62.5rem;
    }

    .#{$block}__col,
    [class^='#{$block}__col--'],
    [class*=' #{$block}__col--'] {
        box-sizing: border-box;
        float: left;
        width: 100%;

        &:last-child {
            &:not(:first-child) {
                float: right;
            }

            &:last-child {
                float: left;
            }
        }
    }

    .#{$block}__col--1,
    .#{$block}__col--2,
    .#{$block}__col--3,
    .#{$block}__col--4,
    .#{$block}__col--5,
    .#{$block}__col--6,
    .#{$block}__col--7,
    .#{$block}__col--8,
    .#{$block}__col--9,
    .#{$block}__col--10,
    .#{$block}__col--11,
    .#{$block}__col--12 {
        width: 100%;
    }

    @include breakpoint($config-grid--breakpoint-xsmall) {
        .#{$block}__col--1 {
            width: 8.33333%;
        }

        .#{$block}__col--2 {
            width: 16.66667%;
        }

        .#{$block}__col--3 {
            width: 25%;
        }

        .#{$block}__col--4 {
            width: 33.33333%;
        }

        .#{$block}__col--5 {
            width: 41.66667%;
        }

        .#{$block}__col--6 {
            width: 50%;
        }

        .#{$block}__col--7 {
            width: 58.33333%;
        }

        .#{$block}__col--8 {
            width: 66.66667%;
        }

        .#{$block}__col--9 {
            width: 75%;
        }

        .#{$block}__col--10 {
            width: 83.33333%;
        }

        .#{$block}__col--11 {
            width: 91.66667%;
        }

        .#{$block}__col--12 {
            width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }
}
