////
/// Layout print
///
/// @group layouts
/// @author Ulrich Merkel
////

// Above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    @media print {

        // ----------------------------
        // Basic print setup
        // ----------------------------
        @page {
            margin: 0.5cm;
        }

        * {
            // Black prints faster
            // @see {@link sanbeiji.com/archives/953}
            // stylelint-disable declaration-no-important
            color: $theme-layout-print-default-color !important;
            text-shadow: none !important;
            background: transparent !important;
            filter: none !important;
            border-color: $theme-layout-print-default-border-color !important;
            border-radius: 0;
            box-shadow: none;
            // stylelint-enable declaration-no-important
        }

        p {
            a {
                &,
                &:visited {
                    // stylelint-disable declaration-no-important
                    color: $theme-layout-print-text-visited-color !important;
                    // stylelint-enable declaration-no-important
                    text-decoration: underline;
                    text-decoration-skip: ink;
                }
            }
        }

        // Print title attributes
        abbr {
            &[title] {
                &::after {
                    // stylelint-disable function-whitespace-after
                    content: ' ('attr(title)') ';
                    // stylelint-enable function-whitespace-after
                }
            }
        }

        // Don't show links for images, or javascript/internal links
        .ir a,
        [href^='javascript:'],
        [href^='#'] {
            &::after {
                content: '';
            }
        }

        pre,
        blockquote {
            border: $theme-layout-print-quote-border;
            page-break-inside: avoid;
        }

        // @see {@link css-discuss.incutio.com/wiki/Printing_Tables}
        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }

        .hide-on-print {
            display: none;
            visibility: hidden;
        }

        // ----------------------------
        // Page setup
        // ----------------------------
        body {
            width: 900px;
        }

    }

}
