////
/// Layout search
///
/// @group layouts
/// @author Ulrich Merkel
////

$block: '#{$config-ns}l-search';

// above the fold css, visible without scrolling
@if ($config-critical-css) {

    .#{$block} {
        position: absolute;
        z-index: 10;
        top: $config-layout-header-height;
        right: 0;
        left: 0;
        display: block;
        visibility: visible;
        margin-bottom: 0;
        background: $config-color-blue--2;
    }

}
