////
/// Module navigation
///
/// @group modules
/// @author Ulrich Merkel
////

$block: '#{$config-ns}m-nav';

// above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    // defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        display: block;
    }

    .#{$block}__toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: rem-calc($config-grid--gutter / 2) rem-calc($config-grid--gutter);
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        font-size: 180%;
        line-height: 1;
        color: $config-color-blue--1;
        cursor: pointer;
        border: 0;

        will-change: color;
        transition: color $config-transition-arguments;

        &::before {
            position: relative;
            top: 7px;
        }

        &::after {
            position: absolute;
            top: 18px;
            left: 66px;
            display: block;
            content: attr(data-label);
        }

        + .#{$block}__toggle-target {
            display: none;
            contain: paint;
        }

        &:checked {
            color: $config-color-white;

            // switch to close icon
            &::before {
                content: '\f00d';
            }

            + .#{$block}__toggle-target {
                display: block;
                contain: layout;
            }
        }

        &:focus {
            outline: none;
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            display: none;
            visibility: hidden;

            + .#{$block}__toggle-target {
                display: block;
            }
        }

    }

    .#{$block}__search {
        position: absolute;
        top: 22px;
        right: 100px;
        display: none;
        margin-bottom: 0;
    }
}
