////
/// Component box
///
/// @group components
/// @author Ulrich Merkel
////

$block: '#{$config-ns}c-box';

// Above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    // Defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        width: 100%;
        margin-bottom: rem-calc($config-grid--gutter * 2);
    }

    .#{$block}__header {
        display: block;
        width: 100%;
        margin: 0;
        padding: rem-calc($config-grid--gutter) 0;

        @include breakpoint($config-grid--breakpoint-xsmall) {
            text-align: center;
        }
    }

    .#{$block}__content {
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: auto;
        min-height: rem-calc($config-type-scale-9);
        padding: rem-calc($config-grid--gutter / 2);

        @include breakpoint($config-grid--breakpoint-xsmall) {
            text-align: center;
        }
    }

}
