////
/// Component button
///
/// @group components
/// @author Ulrich Merkel
////

$block: '#{$config-ns}c-btn';

@mixin rotation {
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

// Above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    @include rotation;

    // Defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: rem-calc($config-type-scale-7) rem-calc($config-type-scale-13) rem-calc($config-type-scale-5);

        font-family: inherit;
        font-size: inherit;
        @include var(font-weight, --theme-component-btn-font-weight);
        @include var(color, --theme-component-btn-color);
        text-align: center;
        text-transform: uppercase;
        @include var(letter-spacing, --theme-component-btn-letter-spacing);

        cursor: pointer;
        @include var(background, --theme-component-btn-background);
        border: 0;
        outline: none;

        will-change: background, color, opacity;
        transition: background $config-transition-arguments, color $config-transition-arguments, opacity $config-transition-arguments;

        // Put link pseudo-classes in right order (:link :visited :hover :active) for
        // old internet explorers
        //
        // @see http://css-tricks.com/snippets/css/link-pseudo-classes-in-order/

        &:visited {
            @include var(color, --theme-component-btn-color-visited);
        }

        // Just show hover for non-touch devices
        @if ($config-support-hovers) {
            .no-touch &:hover,
            .no-touchevents &:hover,
            .no-js &:hover,
            &:focus {
                @include var(color, --theme-component-btn-color-hover);
                // Important due to toooo much nesting within the base link
                // stylelint-disable declaration-no-important
                text-decoration: none !important;
                // stylelint-enable declaration-no-important
                @include var(background, --theme-component-btn-background-hover);

                .#{$block}__label {
                    transform: translateY(-2px);

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &:active {
            @include var(color, --theme-component-btn-color-active);
        }

        &:focus {
            outline: none;
        }

        // @see {@link https://github.com/twbs/bootstrap/issues/16088}
        &.is-disabled {
            pointer-events: none;
            touch-action: none;
            cursor: not-allowed;
            @include var(opacity, --theme-component-btn-opacity-disabled);
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            padding: rem-calc($config-type-scale-12) rem-calc($config-type-scale-13 * 2) rem-calc($config-type-scale-11);
        }
    }

    .#{$block}__label {
        display: block;
        transform: translateY(0);

        will-change: transform;
        transition: transform $config-transition-arguments;

        &::after {
            position: relative;
            top: 3px;
            display: block;
            width: 0;
            height: 0;
            margin: 0 auto;
            content: ' ';
            @include var(border-top, --theme-component-btn-label-after-border-top);

            will-change: width;
            transition: width $config-transition-arguments;
        }

    }

    .#{$block}--secondary {
        @include var(font-size, --theme-component-btn-secondary-font-size);
        @include var(color, --theme-component-btn-secondary-color);
        @include var(background, --theme-component-btn-secondary-background);
    }

    .#{$block}--small {
        padding: rem-calc($config-type-scale-8) rem-calc($config-type-scale-13) rem-calc($config-type-scale-7);
    }

    .#{$block}--clear {
        padding: unset;
        background: unset;
    }

    // @see {@link http://codepen.io/Maathieu24/pen/YPjLYe}
    .#{$block}--submit {
        display: inline-block;
        @include var(border, --theme-component-btn-submit-border);
        outline-style: none;
        transition: 0.3s;

        &.is-pending {
            width: 60px;
            height: 60px;
            padding: 0;
            background-color: transparent;
            @include var(border, --theme-component-btn-submit-is-pending-border);
            @include var(border-top, --theme-component-btn-submit-is-pending-border-top);
            border-radius: 50%;
            transform: rotate(360deg);
            transition: 0.6s;
            animation: rotation 1.8s infinite linear;

            .c-btn__label {
                display: none;
            }
        }
    }

    @media print {
        .#{$block},
        [class^='#{$block}--'],
        [class*=' #{$block}--'] {
            padding-left: 0;
        }

    }
}
