////
/// Component button
///
/// @group components
/// @author Ulrich Merkel
////

$block: '#{$config-ns}c-btn';

@mixin rotation {
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

// above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    @include rotation;

    // defaults
    .#{$block},
    [class^='#{$block}--'],
    [class*=' #{$block}--'] {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: rem-calc($config-type-scale-7) rem-calc($config-type-scale-13) rem-calc($config-type-scale-5);

        font-family: inherit;
        font-size: inherit;
        font-weight: $config-font-weight-bold;
        color: $config-color-white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        cursor: pointer;
        background: $config-color-blue--1;
        border: 0;
        outline: none;

        will-change: background, color, opacity;
        transition: background $config-transition-arguments, color $config-transition-arguments, opacity $config-transition-arguments;

        // put link pseudo-classes in right order (:link :visited :hover :active) for
        // old internet explorers
        // @see http://css-tricks.com/snippets/css/link-pseudo-classes-in-order/

        &:visited {
            color: $config-color-white;
        }

        // just show hover for non-touch devices
        @if ($config-support-hovers) {
            .no-touch &:hover,
            .no-touchevents &:hover,
            .no-js &:hover,
            &:focus {
                color: $config-color-white;
                // important due to toooo much nesting within the base link
                // stylelint-disable declaration-no-important
                text-decoration: none !important;
                // stylelint-enable declaration-no-important
                background: $config-color-blue--2;

                .#{$block}__label {
                    transform: translateY(-2px);

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &:active {
            color: $config-color-white;
        }

        &:focus {
            outline: none;
        }

        // @see {@link https://github.com/twbs/bootstrap/issues/16088}
        &.is-disabled {
            pointer-events: none;
            touch-action: none;
            cursor: not-allowed;
            opacity: 0.4;
        }

        @include breakpoint($config-grid--breakpoint-xsmall) {
            padding: rem-calc($config-type-scale-12) rem-calc($config-type-scale-13 * 2) rem-calc($config-type-scale-11);
        }
    }

    .#{$block}__label {
        display: block;
        transform: translateY(0);

        will-change: transform;
        transition: transform $config-transition-arguments;

        &::after {
            position: relative;
            top: 3px;
            display: block;
            width: 0;
            height: 0;
            margin: 0 auto;
            content: ' ';
            border-top: 1px solid $config-color-white;

            will-change: width;
            transition: width $config-transition-arguments;
        }

    }

    .#{$block}--secondary {
        font-size: 90%;
        color: $config-font-color;
        background: $config-color-grey--2;
    }

    .#{$block}--small {
        padding: rem-calc($config-type-scale-8) rem-calc($config-type-scale-13) rem-calc($config-type-scale-7);
    }

    // @see {@link http://codepen.io/Maathieu24/pen/YPjLYe}
    .#{$block}--submit {
        display: inline-block;
        border: 1px solid transparent;
        outline-style: none;
        transition: 0.3s;

        &.is-pending {
            width: 60px;
            height: 60px;
            padding: 0;
            background-color: transparent;
            border: 4px solid $config-color-grey--2;
            border-top: 4px solid $config-color-blue--1;
            border-radius: 50%;
            transform: rotate(360deg);
            transition: 0.6s;
            animation: rotation 1.8s infinite linear;

            .c-btn__label {
                display: none;
            }
        }
    }

    @media print {
        .#{$block},
        [class^='#{$block}--'],
        [class*=' #{$block}--'] {
            padding-left: 0;
        }

    }
}
