////
/// Component flip
///
/// @group components
/// @author Ulrich Merkel
////

// @see {@link http://codepen.io/hindo/pen/LFvcw}

$block: '#{$config-ns}c-flip';

@mixin move-one {
    @keyframes move-one {
        0% {
            transform: rotateX(0deg);
        }
        25% {
            transform: rotateX(180deg);
        }
        50% {
            transform: rotateX(180deg);
        }
        75% {
            transform: rotateX(360deg);
        }
        100% {
            transform: rotateX(360deg);
        }
    }
}

@mixin move-two {
    @keyframes move-two {
        0% {
            transform: rotateX(180deg);
        }
        25% {
            transform: rotateX(0deg);
        }
        50% {
            transform: rotateX(0deg);
        }
        75% {
            transform: rotateX(-180deg);
        }
        100% {
            transform: rotateX(-180deg);
        }
    }
}

// Above the fold css, visible without scrolling
@if ($config-critical-css) {
    @include move-one;
    @include move-two;

    .#{$block},
    [class^='#{$block}'],
    [class*=' #{$block}'] {
        position: fixed;
        top: 50%;
        left: 50%;
        display: block;
        width: rem-calc(150);
        height: rem-calc(150);

        margin-top: -50px;
        margin-left: -40px;
        font-size: rem-calc($config-type-scale-12);
        line-height: rem-calc(150);
        @include var(color, --theme-component-flip-color);
        text-align: center;
        transform-style: preserve-3d;
    }

    .#{$block}__front,
    .#{$block}__back {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .#{$block}__front {
        z-index: 3;
        @include var(
            background-color,
            --theme-component-flip-front-background-color
        );
        animation: move-one 1s infinite ease 0.1s;
    }

    .#{$block}__back {
        z-index: 1;
        @include var(
            background-color,
            --theme-component-flip-back-background-color
        );
        transform: rotateX(180deg);
        animation: move-two 1s infinite ease 0.1s;
    }
}
