////
/// Component pie
///
/// @group components
/// @author Ulrich Merkel
////

// http://jsfiddle.net/xq72dcxm/
// http://codepen.io/tcmulder/pen/qHIJp

$block: '#{$config-ns}c-pie';

// above the fold css, visible without scrolling
@if ($config-non-critical-css) {

    .#{$block} {
        @include clearfix;
        width: 100%;
    }

    .#{$block}__circle {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0;
        background-color: $config-color-grey--2;
        border-radius: 50%;

        @include breakpoint($config-grid--breakpoint-xsmall) {
            width: 160px;
            height: 160px;
            margin: 0 auto;
        }

        @include breakpoint($config-grid--breakpoint-small) {
            width: 200px;
            height: 200px;
        }
    }

    .#{$block}__left,
    .#{$block}__right {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    .#{$block}__mask {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $config-color-red;

        // be careful, this produces buggy output
        // will-change: transform;
        // transition: transform $config-transition-arguments;

        &.is-hidden {
            display: none;
            visibility: hidden;
        }

        @for $i from 1 through 180 {
            &.is-rotated-#{$i} { transform: rotateZ(#{-1 * $i}deg); }
        }
    }

    .#{$block}__left {
        .#{$block}__mask {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            transform-origin: 100% 50%;
        }
    }

    .#{$block}__right {
        .#{$block}__mask {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transform-origin: 0% 50%;
        }
    }

    .#{$block}__circle::before,
    .#{$block}__circle::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .#{$block}__circle {
        &::before {
            z-index: 1;
            width: 75%;
            height: 75%;
            content: ' ';
            background-color: $config-color-white;
        }
    }

    .#{$block}__circle {
        &::after {
            z-index: 2;
            content: attr(data-text);
            font-family: Arial, sans-serif;
            font-size: rem-calc(18);
            font-weight: $config-font-weight-bold;
            text-align: center;
        }
    }

    @media print {
        .#{$block} {
            .#{$block}__mask {
                background-color: $config-color-black !important;
            }
        }
    }

}
